:root {
  --white: #fff;
  --light-grey: #bababa;
  --dark-green: #348238;
  --dark-grey: #333333;

  --light-green: #5bbb5e;
  --dark-orange: #FF5722;
  --middle-blue: #303F9F;
  --black: #131010;
  --very-dark-grey: #121212;
  --std-space: 12px;
}

body {
  background-color: var(--light-grey);
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

#loginRegister {
  display: flex;
  flex-direction: row;
  height: 88vh;
  width: 100%;
  align-items: center;
  gap: 10%;
}

@media (max-width: 650px) {
  #loginRegister {
    flex-direction: column;
  }
}

#welcomText {
  color: var(--dark-green);
  font-size: 2.2em;
  margin-left: 10vh;
}

.container {
  background-color: var(--light-grey);
  padding: 20px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  padding: 20px 3%;

  width: fit-content;
  height: fit-content;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
  width: 300px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--dark-green);
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--dark-green);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: var(--light-green);
}

p {
  /* text-align: center; */
  margin-top: 10px;
}

a {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--light-green);
  text-decoration: underline;
}

.form-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.form-container.fade-out {
  opacity: 0;
}

.form-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

#loginError {
  margin-bottom: 20px;
  margin-top: 0;
}


/* ***************************************************************************************** */


.sidebarTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.sidebarTitle h4 {
  color: var(--dark-green);
  font-weight: 800;
  font-size: 28px;
}

.onlineList .online img,
.onlineList .offline img {
  width: 60px;
}

.onlineList .online,
.onlineList .offline {
  width: 60px;
  margin-right: 10px;
}

.onlineList .online::after,
.onlineList .offline::after {
  top: 42px;
  bottom: 5px;
}

.onlineList {
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
}

.postRow {
  display: flex;
  align-items: center;
}

.postRow p {
  padding: 0;
  margin: 0;
}

.postRow div {
  display: inline-flex;
  align-items: center;
  margin-right: 25px;
}

.postRow img {
  margin-right: 6px;
}

.postRow div img {
  width: 40px;
}

.commentRow {
  display: flex;
  align-items: center;
}

.commentRow p {
  padding: 0;
  margin: 0;
}

.commentRow div {
  display: inline-flex;
  align-items: center;
  margin-right: 25px;
}

.commentRow img {
  margin-right: 6px;
}

.commentRow div img {
  width: 40px;
}

.postImage {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 5px;
}

.postText {
  color: var(--dark-grey);
  margin: 15px 0;
  font-size: 18px;
}

.user-prfile {
  display: flex;
  align-items: center;
}

.user-prfile img {
  width: 60px;
  margin-right: 10px;
}

.user-prfile p {
  font-size: 25px;
}

.user-prfile span {
  color: var(--dark-grey);
}

.post-container {
  margin-bottom: 20px;
  background: var(--white);
  border-radius: 6px;
  padding: 5px;
  color: var(--black);
}

#profile {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 20vh;
  font-size: 35px;
}

#profilePic {
  width: 120px;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  height: 40vh;
  gap: 25px;
  position: sticky;
  top: 70px;
}

.right-sidebar {
  flex-basis: 22%;
  height: 80vh;
}

#profile,
.right-sidebar {
  background: var(--white);
  box-shadow: 0 0 10px var(--dark-green);
  position: sticky;
  border-radius: 6px;
  top: 70px;
  align-self: flex-start;
}

.main-content {
  flex-basis: 50%;
  width: 100%;
}

li {
  margin-right: 100px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

li,
img {
  width: 40px;
  margin: 0px 0px;
}

li {
  list-style: none;
  display: inline-block;
}

.nav-right {
  display: flex;
  align-items: center;
  width: fit-content;
}

#titleHome {
  font-size: 2.7em;
  color: var(--dark-green);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  box-shadow: 0 0 20px var(--dark-green);
  padding: 0px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}

body {
  background-color: var(--light-grey);
}

.unreadMess {
  position: relative;
}

.unreadMess::after {
  content: "";
  margin-top: 1.9rem;
  width: 10px;
  height: 10px;
  border: 2px solid var(--white);
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 0;
  right: 0;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 13px;
  height: 13px;
  border: 2px solid var(--white);
  border-radius: 50%;
  background: var(--dark-green);
  position: absolute;
  top: 0;
  right: 0;
}

.offline {
  position: relative;
}

.offline::after {
  content: "";
  width: 13px;
  height: 13px;
  border: 2px solid var(--white);
  border-radius: 50%;
  background: var(--light-grey);
  position: absolute;
  top: 0;
  right: 0;
}

.newNotif {
  position: relative;
}

.newNotif::after {
  content: "";
  width: 13px;
  height: 13px;
  border: 2px solid var(--white);
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 0;
  right: 0;
}

/* ************************************************************************** */

button {
  width: 100%;
  padding: 10px;
  background-color: var(--dark-green);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: var(--light-green);
}

.containerFormCreatePost {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
}

#psw {
  width: 100%;
  height: 50px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: 1px solid var(--dark-green);
  border-radius: 6px;
  background: #f1f1f1;
}

#psw:focus {
  outline: none;
}

hr {
  border: 1px solid var(--dark-green);
  margin-bottom: 25px;
}

#createPostTitle {
  color: var(--dark-green);
  text-align: center;
}

.fileCreatePost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.categorieCreatePost {
  margin-bottom: 20px;
}

fieldset {
  border: 1px solid var(--dark-green);
  padding: 20px;
  border-radius: 6px;
}

legend {
  font-weight: bold;
}

.createPostCheckboxContainer {
  display: flex;
  flex-wrap: wrap;
}

.createPostCheckboxContainer label {
  flex: 1 1 30%;
  margin: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.437);
}

.createPost {
  background-color: var(--white);
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 450px;
  border: 2px solid var(--dark-green);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
}

.notifInfo {
  display: flex;
  border: 2px solid var(--white);
  background-color: var(--white);
  border-radius: 10px;
  align-items: center;
  height: 40px;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.notifInfo span {
  font-size: 12px;
}

.notifInfo p {
  font-size: 20px;
  margin-top: 0px;
}

#notifTitle {
  color: var(--white);
  text-align: center;
}

#hrNotif {
  border: 1px solid var(--white);
  margin-bottom: 25px;
}

.notifBlock {
  background-color: var(--dark-green);
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 450px;
  border: 2px solid var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#allNotif {
  overflow-y: auto;
  height: 200px;

}

#allNotif::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

#allNotif {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#allNotif::-webkit-scrollbar-thumb {
  background: transparent;
}

.OnePostBlock {
  height: 90vh;
  width: clamp(250px, 60vw, 800px);
  background-color: white;
  border-radius: var(--std-space);
  padding: var(--std-space);
  display: flex;
  flex-direction: column;
  row-gap: var(--std-space);
}

#inputCommentContent {
  width: 100%;
  height: 50px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: 1px solid var(--dark-green);
  border-radius: 6px;
  background: #f1f1f1;
}

#inputCommentContent:focus {
  outline: none;
}




#post-zone {
  height: 30%;
  display: flex;
  flex-direction: row;
  column-gap: var(--std-space);
}

#comment-post-image-zone {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
}

#comment-post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#comment-post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#comments-zone {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--std-space);
}

.single-comment {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border-radius: 12px;
  padding: 8px;
}

.single-comment-author-date {
  display: flex;
  flex-direction: row;
  column-gap: var(--std-space);
}

#onePostModal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.comments {
  border: 2px solid var(--dark-green);
  margin-bottom: var(--std-space);
  border-radius: var(--std-space);
}

#Messages {
  width: 100%;
  height: 46vh;
  border: 2px solid var(--dark-green);
  border-radius: 10px;
  margin: 40px 0;
  display: none;
}

#MessageBlock {
  overflow-y: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 3px;
}

.messageForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.messageForm input {
  background-color: var(--light-grey);
  border-radius: 10px;
}

.receive {
  align-self: flex-start;
  border: 2px solid var(--dark-green);
  background-color: var(--black);
  color: var(--white);
  border-radius: 15px 15px 15px 0;
  padding: 8px;
  width: fit-content;
  height: fit-content;
  max-width: 300px;
}

.send {
  align-self: flex-end;
  border: 2px solid var(--black);
  background-color: var(--dark-green);
  color: var(--white);
  border-radius: 15px 15px 0 15px;
  padding: 8px;
  width: fit-content;
  height: fit-content;
  max-width: 300px;
}

.receive p,
.send p {
  margin: 0;
  padding: 2px;
}

.receive span,
.send span {
  font-size: 11px;
  color: var(--white);
}

.receive img,
.send img {
  width: 40px;
}

.receive .msgContent,
.send .msgContent {
  font-size: 22px;
}

.receive .senderNickname,
.send .senderNickname {
  font-size: 16px;
}

.User-view {
  overflow-y: auto;
  height: 218px;
  border: 2px solid var(--dark-green);
  border-radius: 10px;
  width: 100%;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.User-view::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.User-view::-webkit-scrollbar-thumb {
  background: transparent;
}

.chat-content {
  padding: 5px;
}

#headMessages {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--dark-green);
}

#headMessages p {
  font-size: 28px;
  margin-top: 0px;
  color: var(--white);
}

#typingBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup {
  position: fixed;
  bottom: -60px;
  right: 10px;
  background: var(--dark-orange);
  padding: 15px 40px;
  font-size: 15px;
  color: var(--white);
  border-radius: 40px;
  animation: popup 5s ease-in-out;
}

@keyframes popup {
  10%, 90% {
    bottom: 10px;
  }
  100% {
    bottom: -60px;
  }
}



.shrink {
  transition: 1s ease;
}

.shrink:hover {
  cursor: pointer;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}